<!-- <p>my-component1 works!</p>
<input type="text" #i (keyup)="kp(i.value)" (input)="getVal(i.value)">
<h1>{{display}}</h1>
<button (click)="click()">Click</button>
<button (click)="counts()">Count-Click</button>
<h1>{{cnt}}</h1>

<h1  [id]=idd> {{tf}} </h1>
<button (click)="ch()">CHANGE</button>
<div *ngIf="tf; then ifBlock else elseBlock"></div>
<ng-template #ifBlock>
    <h1>If</h1>
</ng-template>
<ng-template #elseBlock>
    <h1>Else</h1>
</ng-template> -->






















<h2 style=""></h2>
