<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id = "Spring1" class = "beanClass.Spring1">
      <property name = "msg" value = "Hello World!"/>
      <property name="msg1" value="My Msg : "></property>
   </bean>

</beans>