
<!-- <app-my-component1></app-my-component1>
<app-my-component2></app-my-component2> -->

<!-- <app-pp></app-pp> -->

<!-- <table border="1px" style="border-collapse: separate;">
    <tr>
        <td>Name</td>
        <td>Place</td>
        <td>Phone</td>
    </tr>

    <tr>
        <td>Enu</td>
        <td>Nellore</td>
        <td>1234567890</td>
    </tr>
    <tr>
        <td>Enu</td>
        <td>Nellore</td>
        <td>1234567890</td>
    </tr>
    <tr>
        <td>Enu</td>
        <td>Nellore</td>
        <td>1234567890</td>
    </tr>
</table> -->

<app-my-component2></app-my-component2>